:root {
  --paragraph-margins: 0.9rem 0rem 0.9rem 0rem;
  --paragraph-margins-first: 2rem 0rem 0.7rem 0rem;
  --paragraph-margins-last: 0.7rem 0rem 2rem 0rem;
  --heading-margins-h1: 2rem 0rem 3rem 0rem;
  --heading-margins: 2rem 0rem 0.5rem 0rem;
  --list-margins: 0.5rem 0rem 1rem 0rem;
  --list-nested-margins: 0rem 0rem 1rem 0rem;
  --paraline-height: 1.8rem;
  --paraquote-line-height: 1.7rem;
  --paratext-indent: 1.9em;
  --pullquote-margins: 1.5rem 0rem 1.5rem 0rem;
}
html {
  font-size: 18px;
}
body {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /*background: rgb(240, 240, 235);*/
}
/*Pagination*/
.newpage {
  page-break-before: always;
}
* {
  scroll-behavior: smooth;
}
/*=========IMAGES===========*/
a img {
  border: 0 none;
}
figure {
  max-width: 95%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.image-link {
  background-color: transparent;
  background: none;
  text-decoration: none;
  border-bottom: none;
}
iframe {
  margin: 0 auto;
  background-color: white;
  display: block;
  border-style: none;
}
/* =========== */
article {
  position: relative;
  padding: 1.416rem 0rem;
}

section {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
/*=========LINKS===========*/
a:link {
  color: #1624e7;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #c00ba2;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #e3313d;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ff0000;
  background-color: transparent;
  text-decoration: underline;
}
.menu-link:link {
  color: #434444;
  background-color: transparent;
  text-decoration: none;
}
.menu-link:visited {
  color: #434444;
  background-color: transparent;
  text-decoration: none;
}
.menu-link:hover {
  color: #e3313d;
  background-color: transparent;
  text-decoration: underline;
}
/* Hyperlink colors for Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(22, 22, 22);
    color:rgb(254, 255, 209);
  }
  body a:link {
    color: #f5610b;
  }
  body a:visited {
    color: #f50b78;
  }
  body .colorfont2 {
    color:rgb(31, 109, 177);
  }
  body .highlight {
    color: rgb(254, 255, 209);
    background-color: rgba(114, 5, 5, 0.711);
  }
}
/* Hyperlink colors for Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background: rgb(240, 240, 235);
    color:rgb(23, 23, 23)
  }
  body a:link {
    color: #1624e7;
  }
  body a:visited {
    color: #c00ba2;
  }
  body .colorfont2 {
    color:rgb(11, 9, 179);
  }
  body .highlight {
    color: rgb(114, 5, 5);
    background-color: rgb(254, 255, 209);
  }
}
/*=========RULE===========*/
hr {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/*====Font Families=======*/
h1,
h2,
h3,
h4,
p,
.title,
.subtitle,
ul,
ol,
th,
td {
  font-family: "EB Garamond", "Garamond Premier Pro", serif;
}
.narrowfont {
  font-family: "PT Sans Narrow", sans-serif;
}

/*Other Langguages*/
.manjari {
  font-family: "Manjari", sans-serif;
}
.gayathri {
  font-family: "Gayathri", sans-serif;
}
.baloo {
  font-family: "Baloo Chettan 2", sans-serif;
}
.chilanka {
  font-family: "Chilanka", cursive;
}
/*===========Hebrew and Greek==============*/
.hebrew {
  font-family: "Bona Nova", serif;
}
.gk {
  font-family: "Bona Nova", serif;
}
/*=========CONTAINER FOR HYPHENATOR===========*/
.container {
  display: block;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
/*=========HEADINGS===========*/
h1 {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.8rem;
  margin: 2rem 0rem 3rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins-h1);
}
h2 {
  font-size: 1.9rem;
  font-weight: 600;
  text-align: left;
  line-height: 2.5rem;
  margin: 2rem 0rem 0.5rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins);
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.9rem;
  margin: 2rem 0rem 0.5rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins);
}
h4 {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;
  line-height: 1.75rem;
  margin: 2rem 0rem 0.5rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins);
}
.title {
  font-size: 2.3rem;
  text-align: center;
  line-height: 2.408rem;
  margin: 2rem 0rem 2rem 0rem; /*fallback for IE*/
  margin: var(--heading-margins-h1);
}
.subtitle {
  display: block;
  font-size: 1.275rem;
  font-style: normal;
  text-align: center;
  margin: 2rem 0rem 3rem 0rem; /*fallback for IE*/
  margin: var(--heading-margins-h1);
  line-height: 2.408rem; /*fallback for IE*/
  line-height: var(--heading-margins-h1);
}
.authorname {
  font-weight: 700;
  display: block;
  font-size: 1.275rem;
  font-style: normal;
  text-align: center;
  text-indent: 0rem;
  margin: 2rem 0rem 3rem 0rem; /*fallback for IE*/
  margin: var(--heading-margins-h1);
  line-height: 2.408rem; /*fallback for IE*/
  line-height: var(--heading-margins-h1);
}
.kicker {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 1rem 0rem 1rem 0rem;
  text-indent: 0rem;
}
.pullquote {
  color: rgb(50, 50, 50);
  font-size: 1.275rem;
  font-weight: 700;
  line-height: 1.9rem;
  margin: 1.2rem 1rem 1.2rem 1rem; /*fallback for IE*/
  margin: var(--pullquote-margins);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 1rem 1rem 1rem 1rem;
}
/*=========TEXT===========*/
p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem; /*fallback for IE*/
  line-height: var(--paraline-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  text-align: left;
  text-indent: 0.9rem;
}
.centered {
  text-align: center;
  text-indent: 0rem;
}
.noindent {
  text-indent: 0rem;
}
.firstpara {
  margin: 2rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins-first);
  text-indent: 0rem;
}
.firstlineindent {
  text-indent: 0.9rem;
}
.indented,
.indented p {
  font-size: 1.2 rem;
  text-align: left;
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 5%;
}
.case-study,
.case-study p {
  font-size: 1.2 rem;
  text-align: left;
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 5%;
  background-color: #8b8b8b;
}
/*NOT USED BY Pandoc's blockquote*/
.quotation {
  font-size: 1.1rem;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 5%;
  text-indent: 0rem;
}
/*==IMAGE CAPTIONS==*/
.caption {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  line-height: 1.5rem;
}
.note {
  font-size: 0.9rem;
  line-height: 1.5rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
}
.notes {
  font-size: 0.9rem;
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  font-style: normal;
  line-height: 1.5rem;
}
blockquote p {
  font-size: 1.1rem;
  line-height: 1.7rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  text-indent: 0rem;
}
dl {
  display: block;
  font-size: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.7rem;
}
/*==FOOTNOTES==*/
.footnote {
  text-indent: -5%;
  padding-left: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}
/*==FOR BIBLIOGRAPHY==*/
.hangingindent {
  padding-left: 40px;
  text-indent: -40px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  line-height: 1.7rem;
}
/*===TOP MENU SMALLCAPS===*/
.topmenu {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5rem;
  text-indent: 0rem;
}
/*=======Character Styles======*/
.emphasis {
  font-style: italic;
}
.smallcaps {
  font-size: 1.1rem;
  font-style: regular;
  font-variant: all-small-caps;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
}
.dropcap {
  font-size: 3.9rem;
  float: left;
  position: relative;
  top: 0.9rem;
  margin-bottom: 0.3rem;
  padding-left: 2px;
  padding-right: 3px;
}
.redletter {
  color: #d40000ff;
}
.highlight {
  color: rgb(114, 5, 5);
  background-color: rgb(254, 255, 209);
}
.backtotop {
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  text-align: right;
}
/*==FOOTNOTE REFERENCE==*/
.noteref {
  font-size: 60%;
  position: relative;
  top: -0.5em;
  text-decoration: none;
}
.footnote-ref {
  font-size: 1rem;
}
.verse-num {
  font-size: 0.6rem;
  vertical-align: super;
}

/*==Buttons==*/
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  font-weight: 700;
}
.buy-button {
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  background-color: orange;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.free-button {
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  background-color: green;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.read-button {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(255, 239, 187);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
/*==============================*/
/*LISTS*/
.content-list {
  font-size: 1rem;
  text-align: left;
  padding-left: 20px;
  font-variant: all-small-caps;
  line-height: 1.8rem; /*fallback for IE*/
  line-height: var(--paraline-height);
}
/*LISTS*/

        ul,
        ol {
            font-size: 1.1rem;
            font-weight: 400;
            text-align: left;
            margin-left: 6%;
            margin-top: 0.35em;
            margin-bottom: 1em;
            padding-left: 1%;
        }
        ul.a {
            font-size: 1.1rem;
            list-style-type: square;
        }
        ul.aa {
            font-size: 1em;
            list-style-type: circle;
        }
        ol.b {
            list-style-type: lower-roman;
            font-size: 1.1rem;
        }
        ol.bb {
            font-size: 1em;
        }
/*==============================*/
table {
  width: 80%;
}
table,
th,
td {
  border: 0px solid gray;
  border-collapse: collapse;
}
td {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  padding: 10px;
  line-height: 1.5rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
}
th {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  vertical-align: bottom;
  margin-top: 1.2rem;
  margin-bottom: 0rem;
  padding: 5px;
}

/*Top Bar - when position is fixed, top, left and right values determine position in the view port*/
.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  background-color: rgb(145, 0, 72);
  box-shadow: #575757;
  z-index: 8;
}
/*for one-sided shadow under the top bar*/
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px rgb(58, 58, 58);
  -moz-box-shadow: 0 8px 6px -6px rgb(59, 59, 59);
  box-shadow: 0 8px 6px -6px rgb(58, 58, 58);
}
.logo {
  width: 100px;
  margin: 5px 0px 0px 5px;
  float: none; /*float with position and display keeps the logo locked in position*/
  position: fixed;
  left: 2px;
  top: 2px;
  display: block;
  z-index: 10;
}
/*FOOTER BAR And Menu*/
/*  footer {
  position:sticky; 
   
  bottom: 0px;
  left: 30%;
  right: 30%;
  height: 70px;   
  max-width: 800px;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: rgb(68, 68, 68);
  font-style: normal;
  font-size: 0.7rem;
  line-height: 1.3rem;
  text-indent: 0%;
  }*/

/*=========RESPONSIVE DESIGN============*/
/*Screens wider than 1640px:*/
@media screen and (min-width: 1640px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
  }
}
/*Screens between 1340px and 1640px:*/
@media screen and (min-width: 1340px) and (max-width: 1640px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
}
/*Screens between 991px and 1340px:*/
@media screen and (min-width: 991px) and (max-width: 1340px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}
/*Screens between 991px and 640px:*/
@media screen and (min-width: 640px) and (max-width: 991px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }
}
/*Screen width up to 640px:*/
@media screen and (max-width: 640px) {
  body {
    margin-left: 6%;
    margin-right: 6%;
  }
}
