/*et-book*/
@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book-roman-line-figures.woff") format("woff"),
    url("../fonts/et-book-roman-line-figures.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book-display-italic-old-style-figures.woff")
      format("woff"),
    url("../fonts/et-book-display-italic-old-style-figures.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book-bold-line-figures.woff") format("woff"),
    url("../fonts/et-book-bold-line-figures.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
:root {
  --paragraph-margins: 0.9rem 0rem 0.9rem 0rem;
  --paragraph-margins-first: 1.5rem 0rem 0.7rem 0rem;
  --paragraph-margins-last: 0.7rem 0rem 8rem 0rem;
  --heading-margins-h1: 2rem 0rem 3rem 0rem;
  --heading-margins: 2rem 0rem 0.5rem 0rem;
  --list-margins: 0.5rem 0rem 1rem 0rem;
  --list-nested-margins: 0rem 0rem 1rem 0rem;
  --paraline-height: 1.6rem;
  --paraquote-line-height: 1.4rem;
  --paratext-indent: 1.9rem;
  --pullquote-margins: 1.5rem 0rem 1.5rem 0rem;
}
html {
  font-size: 18px;
  scroll-padding-top: 55px; /*height of sticky header*/
}

body {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
* {
  scroll-behavior: smooth;
}
/*Pagination*/
.newpage {
  page-break-before: always;
}
.banner-image {
  max-width: none !important;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45px;
  width: 100%;
  height: 700px;
  /*background-color: rgb(145, 0, 72);*/
  z-index: 7;
}
/*=========IMAGES===========*/
a img {
  border: 0 none;
}
figure {
  max-width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 18px 0 0px 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.image-link {
  background-color: transparent;
  background: none;
  text-decoration: none;
  border-bottom: none;
}
iframe {
  margin: 0 auto;
  background-color: white;
  display: block;
  border-style: none;
}
/* =========== */
article {
  position: relative;
  padding: 1.416rem 0rem;
}

section {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
/*=========LINKS===========*/
a:link {
  color: #1624e7;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #c00ba2;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #e3313d;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ff0000;
  background-color: transparent;
  text-decoration: underline;
}
.menu-link:link {
  color: #434444;
  background-color: transparent;
  text-decoration: none;
}
.menu-link:visited {
  color: #434444;
  background-color: transparent;
  text-decoration: none;
}
.menu-link:hover {
  color: #e3313d;
  background-color: transparent;
  text-decoration: underline;
}
/*To Display Verses and Notes inline on touch/click*/
/*<span class="more_info" title="tool tip">underline</span>*/
.more_info {
  border-bottom: 1px dotted;
  position: relative;
}
.more_info .title {
  z-index: 99;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: left;
  background: #1b5d37;
  color: #dddddd;
  padding: 2px;
  white-space: pre-wrap;
}

/* Hyperlink colors for Dark Mode*/
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(31, 31, 31);
    color: rgb(196, 196, 196);
  }
  body a:link {
    color: #f5610b;
  }
  body a:visited {
    color: #f50b78;
  }
  body .colorfont2 {
    color: rgb(31, 109, 177);
  }
  body .highlight {
    color: rgb(254, 255, 209);
    background-color: rgba(114, 5, 5, 0.711);
  }
  /*body .box {
    background-color: rgb(15, 27, 13);*/
}
body .redletter {
  /*background-color: rgba(114, 5, 5, 0.711);*/
  color: rgb(247, 237, 96);
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
}
/*body .pullquote {
    color:rgb(161, 161, 161);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }*/

/* Hyperlink colors for Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background: #d6d6d6;
    color: #171717;
  }
  body a:link {
    color: #1624e7;
  }
  body a:visited {
    color: #c00ba2;
  }
  body .colorfont2 {
    color: rgb(11, 9, 179);
  }
  body .highlight {
    color: rgb(114, 5, 5);
    background-color: rgb(254, 255, 209);
  }
  body .box {
    background-color: rgba(212, 212, 212, 0.819);
  }
}
/*=========RULE===========*/
hr {
  width: 30%;
  margin-top: 2em;
  margin-bottom: 4em;
}
.borderbottom {
  border-bottom: 1px solid black;
}
/*=========Font Families=====font-family: "EB Garamond", "Garamond Premier Pro", serif;====*/
h1,
h2,
h3,
h4,
h5,
.title,
.subtitle,
.authorname,
.kicker,
.pullquote {
  font-family: "Lato", sans-serif;
}
h6,
p,
ul,
ol,
th,
td,
figcaption,
dl,
dd,
dt {
  font-family: "et-book", serif;
}
.narrowfont {
  font-family: "PT Sans Narrow", sans-serif;
}
.lato,
.eng {
  font-family: "Lato", "Noto Sans", sans-serif;
}

/*Other Langguages*/
.manjari {
  font-family: "Manjari", sans-serif;
}
.gayathri {
  font-family: "Gayathri", sans-serif;
}
.baloo {
  font-family: "Baloo Chettan 2", sans-serif;
}
.chilanka {
  font-family: "Chilanka", cursive;
}
/*===========Hebrew and Greek==============*/
.hebrew {
  font-family: "Bona Nova", serif;
}
.gk {
  font-family: "Bona Nova", serif;
}
/*=========CONTAINER FOR HYPHENATOR===========*/
.container {
  display: block;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
/*=========HEADINGS===========*/
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 2.8rem;
  margin: 2rem 0rem 3rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins-h1);
}
h2 {
  font-size: 1.9rem;
  font-weight: 900;
  text-align: left;
  line-height: 2.5rem;
  padding-top: 1rem;
  margin: 2rem 0rem 0.5rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins);
  page-break-after: avoid;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.9rem;
  padding-top: 25px;
  margin: 2rem 0rem 0.5rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins);
  page-break-after: avoid;
}
h4 {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.7rem;
  margin: 2rem 0rem 0.5rem 0rem; /*IE Fallback*/
  margin: var(--heading-margins);
  page-break-after: avoid;
}
h5 {
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  line-height: 1.6rem;
  margin: 1rem 0rem -0.3rem 0rem; /*IE Fallback*/
  page-break-after: avoid;
}
h6 {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  line-height: 1.6rem;
  margin: 0.8rem 0rem -0.3rem 0rem; /*IE Fallback*/
  page-break-after: avoid;
}
.title {
  font-size: 2.3rem;
  text-align: center;
  line-height: 2.408rem;
  margin: 2rem 0rem 2rem 0rem; /*fallback for IE*/
  margin: var(--heading-margins-h1);
}
.subtitle {
  display: block;
  font-size: 1.275rem;
  font-style: normal;
  text-align: center;
  text-indent: 0rem;
  margin: 2rem 0rem 3rem 0rem; /*fallback for IE*/
  margin: var(--heading-margins-h1);
  line-height: 2.408rem; /*fallback for IE*/
  line-height: var(--heading-margins-h1);
}
.authorname {
  font-weight: 700;
  display: block;
  font-size: 1.275rem;
  font-style: normal;
  text-align: center;
  text-indent: 0rem;
  margin: 2rem 0rem 3rem 0rem; /*fallback for IE*/
  margin: var(--heading-margins-h1);
  line-height: 2.408rem; /*fallback for IE*/
  line-height: var(--heading-margins-h1);
}
/*For digits*/
.chapnum {
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  text-indent: 0;
}
/*For words*/
.chapternumber {
  font-size: 1.5rem;
  font-weight: 300;
  text-indent: 0;
  line-height: 2rem;
  margin: 1rem 0rem 0rem 0rem;
}
.chaptertitle {
  font-size: 1.9rem;
  font-weight: 900;
  text-align: left;
  line-height: 2.5rem;
  padding: 0 0 0.5rem 0;
  margin: 1rem 0rem 0rem 0rem; /*IE Fallback*/
  page-break-after: avoid;
}
.spacer200 {
  margin: 200px 0 0 0;
}
.spacer100 {
  margin: 100px 0 0 0;
}
.spacer50 {
  margin: 50px 0 0 0;
}
.spacer25 {
  margin: 25px 0 0 0;
}
.pagebreak {
  page-break-after: always;
}
.kicker {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.9rem;
  padding: 1rem 0rem 1rem 0rem;
  text-indent: 0rem;
}
.pullquote {
  color: rgb(50, 50, 50);
  font-size: 1.3rem;
  font-weight: 900;
  text-indent: 0rem;
  line-height: 1.9rem;
  margin: 1.5rem 1rem 1.5rem 1rem; /*fallback for IE*/
  margin: var(--pullquote-margins);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 1rem 1rem 1rem 1rem;
}
.box {
  border: 5px double rgb(150, 150, 150);
  border-radius: 2%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2rem 0rem 2rem 0rem;
  /*background-color: rgba(212, 212, 212, 0.819);*/
}
.box p {
  font-size: 1.1rem;
}
/*=========TEXT===========*/
p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraline-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  text-align: left;
  text-indent: 0.9rem;
}
.centered {
  text-align: center;
  text-indent: 0rem;
}
.noindent {
  text-indent: 0rem;
}
.firstpara {
  margin: 1.5rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins-first);
  text-indent: 0rem;
}
.firstlineindent {
  text-indent: 0.9rem;
}
.lastpara {
  margin: 0.7rem 0rem 8rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins-last);
  text-indent: 0.9rem;
}
.indented,
.indented p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 2.2rem;
}
.case-study,
.case-study p {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding: 0% 2rem 0% 2rem;
}
.shade {
  background-color: #dddddd;
  padding: 0.5rem 0% 0.5rem 0%;
}
/*NOT USED BY Pandoc's blockquote*/
.quotation {
  font-size: 1.1rem;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.9rem 0rem 0.9rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 5%;
  text-indent: 0rem;
}
figcaption {
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
  margin: 0.9rem 1rem 1.5rem 1rem; /*fallback for IE*/
  /*margin: var(--paragraph-margins);*/
  line-height: 1.3rem;
}
/*==IMAGE CAPTIONS==*/
.caption {
  font-size: 1.1rem;
  text-align: center;
  font-style: italic;
  margin: 0rem 1rem 1.5rem 1rem; /*fallback for IE*/
  /*margin: var(--paragraph-margins);*/
  line-height: 1.4rem;
  text-indent: 0;
}
.note {
  font-size: 0.9rem;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
}
.notes {
  font-size: 0.9rem;
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  font-style: normal;
  line-height: 1.4rem;
}
.publication-data {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 4rem;
  font-style: normal;
  line-height: 1.3rem;
  text-indent: 0;
}
blockquote p {
  font-size: 1.1rem;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  text-indent: 0rem;
}
dl {
  display: block;
  font-size: 1.2rem;
  margin-top: 0rem;
  margin-bottom: 0.7rem;
}
dt {
  font-weight: bolder;
}
dd {
  margin-bottom: 1.5rem;
}
/*==FOOTNOTES==*/
.footnotes {
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding-left: 1.8em;
  text-indent: -1.8em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.didache p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraline-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 40px;
  text-indent: -40px;
}

.didache .didache-indent {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraline-height);
  margin: 0.7rem 0rem 0.7rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins);
  padding-left: 0px;
  padding-left: 70px;
  text-indent: -40px;
}

/*==FOR BIBLIOGRAPHY==*/
.hangingindent {
  padding-left: 40px;
  text-indent: -40px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  line-height: 1.6rem;
}

/*===TOP MENU SMALLCAPS===*/
.topmenu {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5rem;
  text-indent: 0rem;
}
/*=======Character Styles======*/
.emphasis {
  font-style: italic;
}
.bold {
  font-weight: bolder;
}
.smallcaps {
  font-size: 0.95em;
  font-style: regular;
  font-variant-caps: small-caps;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
}
.allsmallcaps {
  font-size: 0.95em;
  font-style: regular;
  font-variant-caps: all-small-caps;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
}
.dropcap {
  font-size: 3.9rem;
  float: left;
  position: relative;
  top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 5px 5px 0;
}
/*For Ebooks 
span.dropcap {
  font-size:470%;
  float:left;
  line-height:0.65em;
  line-height:3.7rem;
  margin-top:0.1em;
  margin-top:0.08rem;
  margin-bottom:0em;
  margin-left:0em;
  padding-right: 5px;
}*/
.redletter {
  color: #d40000ff;
}
.highlight {
  color: rgb(114, 5, 5);
  background-color: rgb(254, 255, 209);
}
.colorfont1 {
  color: rgba(211, 9, 103, 0.822);
}
.colorfont2 {
  color: rgba(7, 25, 189, 0.822);
}
.backtotop {
  font-size: 0.85rem;
  margin: 0.7rem 0rem 8rem 0rem; /*fallback for IE*/
  margin: var(--paragraph-margins-last); /*Extra space below - like lastpara*/
  text-align: right;
}

/*==FOOTNOTE REFERENCE==*/
.noteref {
  font-size: 60%;
  position: relative;
  top: -0.5em;
  text-decoration: none;
}
/*called automatically by pandoc md conversion of ^[] */
.footnote-ref {
  font-size: 0.72rem;
  position: relative;
  top: -0.1em;
  text-decoration: none;
}
.verse-num {
  font-size: 0.6rem;
  vertical-align: super;
}

/*==Buttons==*/
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  font-weight: 700;
}
.buy-button {
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  background-color: orange;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.free-button {
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  background-color: green;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.read-button {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(255, 239, 187);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
/*========LISTS==========*/
.content-list {
  font-size: 1rem;
  text-align: left;
  margin: 0 0 0 0;
  padding-left: 20px;
  text-indent: 0;
  line-height: 2rem;
}
ul {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0.5rem 0rem 1rem 0rem; /*IE fallback*/
  margin: var(--list-margins);
  padding-left: 5%;
  text-align: left;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraline-height);
}
ol {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0.5rem 0rem 1rem 0rem; /*IE fallback*/
  margin: var(--list-margins);
  padding-left: 5%;
  text-align: left;
  line-height: 1.6rem; /*fallback for IE*/
  line-height: var(--paraline-height);
}
ul.a,
ul.aa,
ol.b,
ol.bb {
  margin: 0rem 0rem 1rem 0rem; /*IE fallback*/
  margin: var(--list-nested-margins);
}
/*==============================*/
table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table,
th,
td {
  border: 0px solid gray;
  border-collapse: collapse;
}
td {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  padding: 10px;
  line-height: 1.4rem; /*fallback for IE*/
  line-height: var(--paraquote-line-height);
}
th {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1.6rem;
  vertical-align: bottom;
  margin-top: 1.2rem;
  margin-bottom: 0rem;
  padding: 5px;
}

/*Top Bar - when position is fixed, top, left and right values determine position in the view port*/
.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  background-color: #910048ff;
  box-shadow: #575757;
  z-index: 8;
}
/*for one-sided shadow under the top bar*/
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px rgb(58, 58, 58);
  -moz-box-shadow: 0 8px 6px -6px rgb(59, 59, 59);
  box-shadow: 0 8px 6px -6px rgb(58, 58, 58);
}
.logo {
  width: 100px;
  margin: 5px 0px 0px 5px;
  float: none; /*float with position and display keeps the logo locked in position*/
  position: fixed;
  left: 2px;
  top: 2px;
  display: block;
  z-index: 10;
}
/*FOOTER BAR And Menu*/
/*  footer {
  position:sticky; 
   
  bottom: 0px;
  left: 30%;
  right: 30%;
  height: 70px;   
  max-width: 800px;
  padding: 1rem;
  vertical-align: middle;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: rgb(68, 68, 68);
  font-style: normal;
  font-size: 0.7rem;
  line-height: 1.3rem;
  text-indent: 0%;
  }*/

/*=========RESPONSIVE DESIGN============*/
/*Screens wider than 1640px:*/
@media screen and (min-width: 1640px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
  }
}
/*Screens between 1340px and 1640px:*/
@media screen and (min-width: 1340px) and (max-width: 1640px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
  blockquote p {
    margin-right: -3%;
  }
}
/*Screens between 991px and 1340px:*/
@media screen and (min-width: 991px) and (max-width: 1340px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
  blockquote p {
    margin-right: -3%;
  }
  .banner-image {
    height: 600px;
  }
}
/*Screens between 991px and 640px:*/
@media screen and (min-width: 640px) and (max-width: 991px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }
  blockquote p {
    margin-right: -3%;
  }
  .banner-image {
    height: 500px;
  }
}
/*Screen width up to 640px:*/
@media screen and (max-width: 640px) {
  body {
    margin-left: 6%;
    margin-right: 6%;
  }
  blockquote p {
    margin-right: -3%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  .banner-image {
    height: 500px;
  }
  img.resize {
    width: 95%;
  }
}
